.appointment {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 49px;
}

.appointment__title {
  margin: 0;
  padding: 0 10px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
}

.appointment__subtitle {
  margin: 0;
  margin-top: 20px;
  padding: 0 29px;
  line-height: 24px;
  color: #333333;

  br {
    display: none;
  }
}

.appointment__link {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .appointment {
    padding-top: 56px;
    padding-bottom: 58px;
  }

  .appointment__title {
    padding: 0 20px;
    font-size: 30px;
  }

  .appointment__subtitle {
    margin-top: 32px;
    padding: 0 165px;

    br {
      display: inline;
    }
  }

  .appointment__link {
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 41px;
  }
}

@media (min-width: $desktop-width) {
  .appointment {
    padding-bottom: 66px;
  }

  .appointment__subtitle {
    margin-top: 31px;
    padding: 0 50px;
  }

  .appointment__link {
    margin-left: 371px;
    margin-right: 371px;
    margin-top: 47px;
  }
}
