.container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    box-shadow: 0 0 0 40px #f2f2f2;
  }
}
