.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  padding-bottom: 23px;
  line-height: 26px;
}

.copyright__text {
  margin: 0;
  margin-right: 11px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  padding: 0;
}

.copyright__logo {
  color: #000000;

  &:hover,
  &:focus {
    color: #81b3d2;
  }

  &:active {
    color: #000000;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-top: 0;
    margin-left: auto;
    padding: 0;
  }
}
