.form__group {
  border-top: 1px solid #eeeeee;
}

.form__title {
  margin: 0;
  padding: 20px 0;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
}

.form__list {
  @include list-none;
}

.form__item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  .form__label {
    margin-right: 14px;
    line-height: 26px;
  }

  .form__input {
    width: 192px;
    height: 58px;
    flex-grow: 1;
    padding: 16px 22px;
    border: none;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
  }
}

.form__item--contact {
  flex-direction: column;
  margin-bottom: 14px;

  .form__label {
    align-self: flex-start;
    padding-left: 22px;
    padding-bottom: 8px;
  }

  .form__input {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 28px;
  }
}

.form__item--radio {
  margin-bottom: 42px;
  margin-top: 20px;
  // Bad decision

  .form__label {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 78px;
    font-family: $font-bold;
    font-size: 18px;
    text-transform: none;
  }
}

.form__input--radio + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 20px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 16px #f2f2f2;
}

.form__input--radio:checked + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 20px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #333333;
  box-shadow: 0 0 0 16px #f2f2f2;
}

.form__item--checkbox {
  margin-bottom: 54px;
  margin-top: 7px;
  // Bad decision

  &:last-child {
    margin-bottom: 46px;
  }

  .form__label {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 78px;
    font-family: $font-bold;
    font-size: 18px;
    text-transform: none;
  }
}

.form__input--checkbox + label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.form__input--checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__group--textarea {
  padding: 0 20px;

  .form__title {
    padding-bottom: 16px;
  }

  .form__textarea {
    width: 100%;
    min-height: 160px;
    padding: 16px 22px;
    border: none;
    font-family: $font-bold;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
  }
}

.form__submit {
  margin-top: 46px;
  margin-bottom: 45px;
  // Not working
  width: calc(100% - 40px);
}

.form__info {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__group {
    border: none;

    &--radio {
      order: -1;
      width: 50%;
      text-align: left;
    }

    &--name {
      position: relative;
      width: 50%;
      text-align: left;
      padding-left: 45px;
    }

    &--contact {
      width: 100%;
    }

    &--textarea {
      width: 100%;
      padding: 0;
    }
  }

  .form__group--name {
    .form__title {
      padding: 0;
      padding-bottom: 37px;
    }
  }

  .form__group--radio {
    .form__title {
      padding: 0;
      padding-bottom: 20px;
    }
  }

  .form__title {
    font-size: 21px;
  }

  .form__item {
    padding: 0;
  }

  .form__item--name {
    margin: 0;
    margin-top: 20px;
  }

  .form__item--radio {
    margin: 0;
    margin-top: 53px;
  }

  .form__group--name::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .form__group--contact {
    .form__title {
      margin-top: 52px;
    }
  }

  .form__group--checkbox {
    width: 100%;

    .form__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .form__title {
      padding-bottom: 45px;
    }
  }

  .form__item--checkbox {
    width: 240px;
  }

  .form__group--textarea {
    .form__title {
      padding-bottom: 57px;
    }
  }

  .form__title--decoration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after,
    &::before {
      content: "";
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  .form__submit {
    width: 324px;
    margin-left: 0;
    margin-right: 0;
  }

  .form__info {
    display: flex;
    align-self: center;
    margin-left: auto;
    // How it work?
    line-height: 26px;
    color: #333333;
  }
}


// @media (min-width: $desktop-width) {
//   .form__group--contact {
//     .form__list {
//       display: flex;
//     }
//   }

//   .form__item--contact,
//   .form__item--contact:last-child {
//     margin: 0;
//   }

//   .form__item--contact {
//     flex-direction: row;

//     .form__label {
//       padding: 0;
//       align-self: center;
//     }

//     .form__input {
//       width: 316px;
//     }
//   }

//   .form__label--hidden {
//     display: none;
//   }
// }
