.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  border-top: 1px solid #e5e5e5;
}

.form__title {
  margin: 0;
  padding: 20px;
  padding-top: 18px;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__list {
  @include list-none;
}

.form__item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;

  .form__label {
    margin-right: 14px;
    line-height: 26px;
  }

  .form__input {
    width: 192px;
    height: 58px;
    flex-grow: 1;
    padding: 16px 22px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: #ffffff;
      box-shadow: inset 0 0 0 4px #e5e5e5;
      outline: none;
    }

    &::placeholder {
      color: #000000;
      opacity: 1;
    }
  }
}

.form__item--name:last-child {
  margin-bottom: 24px;
}

.form__item--name {
  .form__label--name2 {
    margin-right: 17px;
  }
}

.form__item--contact {
  position: relative;
  flex-direction: column;
  margin-bottom: 12px;

  .form__label {
    align-self: flex-start;
    padding-left: 22px;
    padding-bottom: 7px;
  }

  .form__input {
    width: 100%;
    padding-right: 65px;
  }

  &:last-child {
    margin-bottom: 28px;
  }
}

.form__item--contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.form__item--contact:first-child::after {
  background-image: url("../img/icon-phone.svg");
}

.form__item--contact:nth-child(2)::after {
  background-image: url("../img/icon-mail.svg");
}

.form__item--radio {
  margin-bottom: 43px;

  &:first-child {
    margin-top: 16px;
  }

  .form__label {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 79px;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
  }
}

.form__input--radio + .form__label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 18px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 17px #f2f2f2;
}

.form__input--radio:checked + .form__label::before {
  background-color: #333333;
}

.form__item--checkbox {
  margin-bottom: 54px;

  &:first-child {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 43px;
  }

  .form__label {
    position: relative;
    display: block;
    margin: 0;
    padding-left: 79px;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
  }
}

.form__input--checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.form__input--checkbox:checked + .form__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__group--textarea {
  padding: 0 21px 0 20px;

  .form__title {
    padding-bottom: 17px;
  }

  .form__textarea {
    width: 100%;
    min-height: 160px;
    padding: 16px 20px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    resize: none;

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: #ffffff;
      box-shadow: inset 0 0 0 4px #e5e5e5;
      outline: none;
    }

    &::placeholder {
      color: #000000;
      opacity: 1;
    }
  }
}

.form__submit {
  margin-top: 45px;
  margin-bottom: 47px;
  width: calc(100% - 40px);
}

.form__info {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__group {
    border: none;
  }

  .form__title {
    font-size: 21px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__item {
    padding: 0;
  }

  .form__group--name {
    position: relative;
    width: 50%;
    text-align: left;
    padding-left: 58px;

    .form__title {
      padding: 0;
      padding-bottom: 57px;
    }

    .form__input {
      width: 178px;
    }
  }

  .form__group--name::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .form__item--name {
    margin: 0;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__group--radio {
    order: -1;
    width: 50%;
    text-align: left;

    .form__title {
      padding: 0;
      padding-bottom: 73px;
    }
  }

  .form__item--radio {
    margin: 0;
    margin-top: 53px;

    &:first-child {
      margin-top: 0;
    }

    .form__label {
      padding-left: 75px;
    }
  }

  .form__group--contact {
    width: 100%;

    .form__title {
      margin-top: 52px;
      padding-bottom: 25px;
    }
  }

  .form__item--contact {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__group--checkbox {
    width: 100%;

    .form__title {
      margin-top: 34px;
      padding-bottom: 57px;
    }

    .form__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__item--checkbox {
    width: 50%;
    margin-bottom: 63px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 63px;
    }

    &:nth-child(odd) {
      padding-left: 96px;
    }

    &:nth-child(even) {
      padding-left: 31px;
    }
  }

  .form__group--textarea {
    width: 100%;
    padding: 0;

    .form__title {
      padding-top: 21px;
      padding-bottom: 58px;
    }
  }

  .form__title--decoration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after,
    &::before {
      content: "";
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  .form__submit {
    width: 50%;
    margin-top: 52px;
    margin-bottom: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .form__info {
    display: flex;
    align-self: center;
    margin-left: auto;
    padding-bottom: 5px;
    line-height: 26px;
    color: #333333;
  }
}

@media (min-width: $desktop-width) {
  .form__group--name {
    padding-left: 80px;

    .form__title {
      padding-bottom: 58px;
    }
  }

  .form__group--radio {
    .form__title {
      padding-left: 79px;
      padding-bottom: 74px;
    }
  }

  .form__item--radio {
    .form__label {
      padding-left: 79px;
    }
  }

  .form__input--radio + .form__label::before {
    top: 4px;
    left: 22px;
  }

  .form__input--radio:checked + .form__label::before {
    top: 4px;
    left: 22px;
  }

  .form__group--contact {
    .form__list {
      display: flex;
      justify-content: space-between;
    }

    .form__title {
      margin-top: 50px;
      padding-bottom: 75px;
    }
  }

  .form__item--contact,
  .form__item--contact:last-child {
    margin: 0;
  }

  .form__item--contact {
    flex-direction: row;

    .form__label {
      margin-right: 16px;
      padding: 0;
      align-self: center;
    }

    .form__input {
      width: 316px;
    }
  }

  .form__label-hidden {
    display: none;
  }

  .form__group--checkbox {
    .form__list {
      justify-content: space-between;
    }

    .form__title {
      margin-top: 0;
      padding-top: 53px;
    }
  }

  .form__item--checkbox {
    width: auto;

    &:nth-child(n) {
      padding-left: 0;
      margin-bottom: 61px;
    }
  }

  .form__group--textarea {
    .form__title {
      padding-top: 20px;
    }
  }

  .form__submit {
    margin-top: 53px;
    margin-bottom: 66px;
  }

  .form__title--decoration::after,
  .form__title--decoration::before {
    width: 280px;
  }
}
