.form-review {
  text-align: center;
}

.form-review__title {
  margin: 0;
  margin-top: 37px;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
}

.form-review__subtitle {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 17px;
  padding: 0 22px;
  line-height: 24px;
}
