.gallery {
  padding-top: 38px;
  text-align: center;
}

.gallery__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 25px;
  color: #000000;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 26px;
}

.gallery__subtitle {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 25px;
  color: #333333;
  line-height: 24px;
}

.gallery__list {
  @include list-none;
  display: flex;
  flex-direction: column;
}

.gallery__item {
  min-height: 415px;
  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 76px;
  }

  .gallery__title {
    margin-bottom: 30px;
    padding: 0 25px;
    font-size: 30px;
    line-height: 26px;
  }

  .gallery__subtitle {
    margin-bottom: 70px;
    padding: 0 170px;
  }

  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .gallery__item {
    min-height: 347px;
    border: none;
    background-color: #f2f2f2;

    &:nth-child(odd):not(:first-child) {
      background-color: #eaeaea;
    }

    &:last-child {
      border: none;
    }
  }
}

// @media (min-width: $desktop-width) {
//   .gallery {
//     padding-top: 112px;
//   }

//   .gallery__subtitle {
//     margin-bottom: 71px;
//     padding: 0 385px;
//   }

//   .gallery__list {
//     padding: 0;
//     background-color: transparent;
//   }

//   .gallery__item {
//     position: relative;
//     min-height: 267px;
//   }
// }
