.intro {
  position: relative;
  min-height: 389px;
  padding: 89px 20px 80px 20px;
  text-align: center;
  background-color: #acd5ee;
  background-image: url("../img/ignored-webp/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/ignored-webp/bg-back-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: calc(50% - 160px);
    width: 320px;
    height: 27px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-size: 100%;
  }

  &--inner {
    min-height: 157px;
    padding: 52px 46px;
    background-size: auto;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 517px;
    padding: 77px 40px;
    background-image: url("../img/ignored-webp/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/ignored-webp/bg-back-tablet@2x.jpg");
    }

    &::after {
      right: calc(50% - 384px);
      width: 768px;
      height: 58px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100%;
    }

    &--inner {
      min-height: 289px;
      padding: 94px 40px;
    }
  }

  .intro__image-text {
    width: 460px;
    height: 350px;

    &--inner {
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 518px;
    padding: 78px 40px;
    background-image: url("../img/ignored-webp/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/ignored-webp/bg-back-desktop@2x.jpg");
    }

    &::after {
      bottom: 0;
      right: calc(50% - 600px);
      width: 1200px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }

    &--inner {
      min-height: 301px;
      padding: 101px 40px;
    }
  }
}
