.logo {
  position: relative;
  height: 56px;
}

.logo__image {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    top: 0;
    right: calc(50% - 78px);
    width: 156px;
  }
}
