.modal {
  position: fixed;
  bottom: 348px;
  z-index: 3;
  display: none;
  width: 320px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal--show {
  display: flex;
}

.modal__title {
  margin: 0;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.modal__description {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 24px;
  padding: 0 53px;
  line-height: 24px;
  color: #333333;
}

.modal__button {
  width: calc(100% - 140px);
  margin-bottom: 35px;
}

.modal--success {
  .modal__button {
    width: calc(100% - 40px);
    margin-bottom: 0;
  }
}

.modal__button-wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .modal {
    bottom: 343px;
  }

  .modal__title {
    margin-top: 64px;
    font-size: 30px;
  }

  .modal__description {
    margin-bottom: 35px;
  }

  .modal__button {
    width: 272px;
  }

  .modal--success {
    width: 640px;
    left: calc(50% - 320px);

    .modal__description {
      padding: 0 112px;
    }

    .modal__button {
      width: 458px;
      margin: 0 auto;
    }
  }

  .modal__button-wrapper {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .modal--error {
    width: 400px;
    left: calc(50% - 200px);

    .modal__title {
      padding: 0 75px;
      line-height: 40px;
    }

    .modal__button {
      margin-bottom: 49px;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal {
    bottom: 231px;
  }

  .modal--success {
    left: calc(50% - 320px);
  }

  .modal--error {
    left: calc(50% - 200px);
  }
}
