.more-advantages {
  order: -1;
  text-align: left;
  padding-top: 35px;
  padding-bottom: 9px;
}

.more-advantages__list {
  @include list-none;
  display: flex;
  flex-direction: column;
}

.more-advantages__item {
  padding: 0;
  padding-left: 70px;
  padding-right: 40px;
}

.more-advantages__title {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
  }
}

.more-advantages__description {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 29px;
  padding: 0;
  color: #333333;

  br {
    display: none;
  }
}

.more-advantages__item--house {
  .more-advantages__title::before {
    top: -9px;
    left: -47px;
    width: 37px;
    height: 36px;
    background-image: url("../img/icon-house.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.more-advantages__item--gift {
  .more-advantages__title::before {
    top: -11px;
    left: -44px;
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.more-advantages__item--food {
  .more-advantages__title::before {
    top: -5px;
    left: -51px;
    width: 40px;
    height: 35px;
    background-image: url("../img/icon-burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .more-advantages {
    text-align: center;
    padding-bottom: 33px;
  }

  .more-advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }

  .more-advantages__item {
    width: 256px;
    padding: 0;
    padding-top: 123px;
  }

  .more-advantages__title {
    margin: 0;
    padding: 0 10px;
    font-size: 21px;
  }

  .more-advantages__item--house {
    .more-advantages__title::before {
      top: -98px;
      left: 91px;
      width: 75px;
      height: 72px;
    }

    .more-advantages__description {
      padding: 0 45px;
    }
  }

  .more-advantages__item--gift {
    order: 1;

    .more-advantages__title::before {
      top: -101px;
      left: 96px;
      width: 64px;
      height: 75px;
    }

    .more-advantages__description {
      padding: 0 45px;
    }
  }

  .more-advantages__item--food {
    .more-advantages__title::before {
      top: -95px;
      left: 90px;
      width: 77px;
      height: 68px;
    }

    .more-advantages__description {
      padding: 0 50px;
    }
  }

  .more-advantages__description {
    margin-top: 22px;
    margin-bottom: 29px;
  }
}

@media (min-width: $desktop-width) {
  .more-advantages__list {
    width: 1200px;
  }

  .more-advantages__item {
    width: 400px;
  }

  .more-advantages__item--house {
    .more-advantages__title::before {
      left: 162px;
    }

    .more-advantages__description {
      padding: 0 50px;
    }
  }

  .more-advantages__item--gift {
    .more-advantages__title::before {
      left: 167px;
    }

    br {
      display: inline;
    }
  }

  .more-advantages__item--food {
    .more-advantages__title::before {
      left: 162px;
    }
  }

  .more-advantages__description {
    margin-bottom: 50px;
  }
}
