.page-footer {
  padding-top: 25px;
  text-align: center;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 33px 60px;
  }

  .page-footer__hashtag {
    margin: 0;
    margin-right: 112px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 33px 120px;
  }

  .page-footer__hashtag {
    margin-right: 268px;
  }
}
