.page-footer {
  text-align: center;
}

.page-footer__hashtag {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 38px;
  font-family: $font-bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
