.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 56px;
}

.page-header__logo {
  position: absolute;
  top: calc(100% - 56px);
  left: calc(50% - 51px);
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    padding-bottom: 0;
  }

  .page-header__logo {
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: calc(50% - 94px);
  }

  .page-header__logo-image {
    width: 187px;
    height: 96px;
  }
}
