.photo {
  padding: 22px 20px;
}

.photo__image {
  display: block;
  width: 280px;
  height: 280px;
}

.photo__info-wrapper {
  text-align: left;
}

.photo__title {
  margin: 0;
  margin-top: 17px;
  font-family: $font-bold;
  font-size: 14px;
  line-height: 24px;
}

.photo__author {
  margin: 0;
  line-height: 24px;
  text-transform: none;
}

.photo__likes-number {
  font-family: $font-bold;
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .photo {
    padding: 0;
    background-color: #f2f2f2;
  }

  .photo__image {
    width: 324px;
    height: 267px;
    margin-top: 0;

    &--big {
      width: 648px;
      height: 400px;
    }
  }

  .photo__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 15px 30px 15px 20px;
  }

  .photo__title {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    background-color: transparent;
  }

  .photo__image {
    width: 400px;
    height: 267px;

    &--big {
      width: 1200px;
      height: 400px;
    }
  }

  .photo__info-wrapper {
    position: absolute;
    width: 100%;
    margin-top: -80px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
