.photo {
  padding: 22px 20px 15px 20px;
}

.photo__image {
  display: block;
  width: 280px;
  height: 280px;
}

.photo__info-wrapper {
  text-align: left;
}

.photo__title {
  margin: 0;
  margin-top: 15px;
  font-family: $font-bold;
  font-size: 14px;
  line-height: 24px;
}

.photo__author {
  margin: 0;
  line-height: 24px;
  text-transform: none;
  color: #333333;
}

.photo__likes-wrapper {
  margin-top: 5px;
}

.photo__likes-button {
  width: 23px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.photo__likes-button--added {
  opacity: 1;
}

.photo__likes-number {
  margin-left: 10px;
  font-family: $font-bold;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .photo {
    padding: 0;
  }

  .photo__image {
    width: 324px;
    height: 267px;
    margin-top: 0;

    &--big {
      width: 648px;
      height: 400px;
    }
  }


  .photo__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 13px 20px 15px 20px;
  }

  .photo__title {
    margin: 0;
  }

  .photo__likes-wrapper {
    margin: 0;
    display: flex;
  }

  .photo__likes-number {
    display: inline-block;
    min-width: 31px;
  }
}

@media (min-width: $desktop-width) {
  .photo__image {
    width: 400px;
    height: 267px;

    &--big {
      width: 1200px;
      height: 400px;
    }
  }

  .photo__info-wrapper {
    position: absolute;
    width: 100%;
    margin-top: -80px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__author {
    color: #ffffff;
  }

  .photo__likes-button {
    opacity: 1;

    path {
      fill: #ffffff;
    }
  }

  .photo__likes-button--added {
    path {
      fill: #ff6347;
    }
  }
}
