html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

@import "variables";
@import "mixins.scss";
@import "normalize.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/button.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/intro.scss";
@import "blocks/advantages.scss";
@import "blocks/appointment.scss";
@import "blocks/map.scss";
@import "blocks/photos.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
